{
	"influx": {
         "host":"",
         "port": "",
         "username": "",
         "password": "",
         "database": ""
	},
	"telegram": {
	 "bot_token": "",
	 "chat_id": ""
	},
	"slack": {
	 "hook": ""
	},
	"sensor":""
}
